#cy {
  border: solid;
  border-width: 1;
  height: 100%;
}

h1 {
  opacity: 0.5;
  font-size: 1em;
}
/* 
.btn-toolbar .btn {
  margin-bottom: 5px; 
  margin-top: 5px; 
}

.btn-group{
  margin-right: 5px;
} */

img {
  display: block;
  max-width:300px;
  max-height:300px;
  width: auto;
  min-height: 100px;
  min-width:300px;
}